.hero {
    width: 100%;
    height: 40vw;
    background-repeat: no-repeat;
    background-image: url("../../assets/teamImages/heroteam.jpeg");
    /* Background Image */
}

.hero h2 {
    font-size: 3vw;
    color: white;
    position: absolute;
    top: 34vh;
    left: 42vw;
}

.container {
margin-top: 5vw;
}