<!-- Contact-Us Background Img and Titel -->
<div class="d-flex justify-content-center align-items-center bacgroundimg mb-5">

    <h1 class="text-light font-monospace">Contact Us</h1>
</div>
<div class="d-flex justify-content-center align-items-center mt-5 mb-3 font-monospace">
    <h3>Contact Us</h3>
</div>


<!-- Contact Us from Contact & Address -->
<div class="container-fluid font-monospace">
    <div class="row">
        <div class="col card-deck d-flex justify-content-around">
            <div class="card border-0 shadow mb-3" style="max-width: 35rem;">
                <div class="card-header">Let's talk</div>
                <div class="card-body text-secondary">
                    <!-- Contact -->
                    <div class="container-contact">
                        <form action="/action_page.php font-monospace">
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">

                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                            <label for="country">Country</label>
                            <select id="country " name="country">
                  <option value="austria">Austria</option>
                  <option value="korea">Korea</option>
                  <option value="switzerland">Switzerland</option>
                  <option value="england">England</option>
                  <option value="japan">Japan</option>
                  <option value="russia">Russia</option>
                  <option value="croatia">Croatia</option>
                  <option value="france">France</option>
                  <option value="germany">Germany</option>
                  <option value="australia">Australia</option>
                  <option value="canada">Canada</option>
                  <option value="usa">USA</option>
                </select>
                            <label for="subject">Subject</label>
                            <textarea id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>
                            <button type="submit" class="btn btn-primary" value="submit">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Address -->
        <div class="col card-deck">
            <div class="card border-0 shadow  mb-3" style="max-width: 35rem;">
                <div class="card-header">Address</div>
                <div class="card-body text-secondary">
                    <div class="container-contact">
                        <h5 class="card-title">CodeFactory GmbH <br>Kettenbrückengasse 23/2/12, 1050 Vienna</h5>
                        <p class="card-text">Directly with the subway U4 to the station Kettenbrückengasse – right next to the famous Viennese Naschmarkt!</p>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.527650767714!2d16.35724071486053!3d48.19645175503879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07866f5ea789%3A0x5c320007be5849de!2sKettenbr%C3%BCckengasse%2023%2C%201050%20Wien!5e0!3m2!1sde!2sat!4v1634678428438!5m2!1sde!2sat"
                            width="100%" height="375" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                        <p class="card-text"><small class="text-muted">Last updated 2021-10-20</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>