<div class="d-flex justify-content-center align-items-center bacgroundimg font-monospace">

    <h1 class="text-light">News</h1>
</div>
<div class="d-flex justify-content-center align-items-center mt-5 font-monospace">
    <h3>Our News</h3>
</div>


<div class="d-flex flex-wrap w-90 m-5">

    <div class="row row-cols-2 row-cols-md-3 g-4 mb-5 font-monospace">
        <div class="col">
            <div class="card">
                <div class="single-team-box">
                    <a class="done" href="https://codefactory.wien/en/news-successful-completion-of-the-codefactory-full-stack-web-developer-graduate-program/">
                        <div class="team-image">
                            <img src="/assets/img/CF43.jpg" alt="news">
                        </div>
                        <div class="team-info font-monospace">
                            <h3>Successful completion of the CodeFactory Full Stack Web Developer graduate program</h3>
                            <span>By CodeFactory</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="single-team-box">
                    <a class="done" href="https://www.infoworld.com/article/3629473/whats-new-in-angular-13.html">

                        <div class="team-image">
                            <img src="/assets/img/angular43.jpg" alt="news">

                        </div>
                        <div class="team-info font-monospace">
                            <h3>What’s new in Angular 13?</h3>
                            <span>By CodeFactory</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="single-team-box">
                    <a class="done" href="https://www.facebook.com/CodeFactoryVienna/videos/443986956337313/?fref=mentions&__tn__=K-R">

                        <div class="team-image">
                            <img src="/assets/img/Deaf43.jpg" alt="news">

                        </div>
                        <div class="team-info font-monospace">
                            <h3>Deaf Devs at CodeFactory</h3>
                            <span>By CodeFactory</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="single-team-box">
                    <a class="done" href="https://www.careerexplorer.com/careers/web-developer/#:~:text=What%20is%20a%20Web%20Developer%3F%20A%20web%20developer,end%20users%20have%20no%20difficulty%20navigating%20the%20site.">

                        <div class="team-image">
                            <img src="/assets/img/Job43.jpg" alt="team">

                        </div>
                        <div class="team-info font-monospace">
                            <h3>What does a Web Developer do?</h3>
                            <span>By CodeFactory</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="single-team-box">
                    <a class="done" href="https://www.w3schools.com/Css/">

                        <div class="team-image">
                            <img src="/assets/img/w3school.jpg" alt="team">

                        </div>
                        <div class="team-info font-monospace">
                            <h3>W3 School</h3>
                            <span>By CodeFactory</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="single-team-box">
                    <a class="done" href="https://getbootstrap.com/">

                        <div class="team-image">
                            <img src="/assets/img/boots.jpg" alt="news">

                        </div>
                        <div class="team-info font-monospace">
                            <h3>Bootstrap</h3>
                            <span>By CodeFactory</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>