.bacgroundimg {
    width: 100%;
    height: 40vw;
    background-image: url('../../assets/teamImages/heroteam.jpeg');
    background-repeat: no-repeat;
}

.cardcol {
    background: radial-gradient(#60efbc, #58d5c9);
}

.txt {
    color: #f588d8;
}