<div class="d-flex justify-content-center align-items-center bacgroundimg font-monospace">
    <h1 class="text-light">Videos</h1>
</div>
<div class="d-flex justify-content-center align-items-center mt-5 font-monospace">
    <h3 class="mb-5">Our Videos</h3>
</div>
<div class="d-flex flex-wrap justify-content-center pt-5 mb-5 pb-5 m-3 rounded shadow border-1 w-90 font-monospace">
    <iframe width="800" class="m-2 rounded shadow" height="400" src="https://www.youtube.com/embed/eHS0TGC_Izg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <div class="d-flex flex-wrap justify-content-center mt-5">
        <iframe width="300" class="m-2 rounded shadow" height="150" src="https://www.youtube.com/embed/7qAC2f2lWfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="m-2 rounded shadow" width=" 300 " height=" 150 " src=" https://www.youtube.com/embed/xZ99x77cgSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="m-2 rounded shadow" width=" 300 " height=" 150 " src=" https://www.youtube.com/embed/Ku_X_n1-gYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="m-2 rounded shadow" width=" 300 " height=" 150 " src=" https://www.youtube.com/embed/-XR93HWAR0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-5">
        <iframe class="m-2 rounded shadow" width=" 300 " height=" 150 " src=" https://www.youtube.com/embed/FCtiIwN0lug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="m-2 rounded shadow" width=" 300 " height=" 150 " src=" https://www.youtube.com/embed/LK3cLNexNFk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="m-2 rounded shadow" width=" 300 " height=" 150 " src=" https://www.youtube.com/embed/Q3sMAjmvpmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="m-2 rounded shadow" width=" 300 " height=" 150 " src=" https://www.youtube.com/embed/GECVasl3kVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>